/* 추가 for Audio Player */
/* xs ans md screen resolutions*/

@media screen and (max-width: 991px) {
	#join {
		padding-top: inherit;
	}

	#not-logged {
		padding-top: inherit;
	}

	.container .navbar-header {
		margin-right: 0 !important;
		margin-left: 0 !important;
	}

	.nav-icon {
		padding: 9px 8px 9px 8px;
	}

	nav i.fa {
		font-size: 32px;
	}

	.vertical-center {
		padding-top: 10px;
	}

	#img-div {
		padding-bottom: 1em;
	}

	#img-div img {
		height: 10%;
	}
} 



.audio-container {
	width: 100%;
	box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.3);
	font-family: "Roboto", sans-serif;
	/* position: absolute; */
	/* border-radius: 10px; */
	position: absolute;
	top: 84.3%;
	overflow: hidden;
	/* margin: 40px auto; */
	padding : 0px 0px;
}
  

.audiobar {
	background: #998A78;
	height: 70px;
	margin-top: 20px;
	/* padding-top: 5px; */
}


.audio {
	background:#998A78;
	width: 100%;
	position: relative;
	/* margin-top: 20px; */
	/* height: 80px; */
	top: 10%;
	/* display: block; */
}

  .audio-container .track-name {
		/* margin-top: 50px; */
		position: absolute;
		top: 8px;
		/* left: 8px; */
		color: #fff;
		
		background: rgba(0, 0, 0, 0.7);
		/* padding: 8px 32px; */
		/* border-radius: 10px; */
		font-size: 13px;
  }
  
  .audio-container .btn {
	padding: 10px;
	width: 24px;
	/* margin-right: 8px; */
	cursor: pointer;
	display: inline-block;
  }
  
  .audio-container .volume-slider {
		width: 200px;
  }
  
  .audio-container .buttons {
	  text-align: center;
  }
  
  .audio-container .buttons .play-btn .fa-pause {
	display: none;
  }
  
  .audio-container .buttons .play-btn.playing .fa-pause {
	display: inline-block;
  }
  
  .audio-container .buttons .play-btn.play-btn.playing .fa-play {
	display: none;
  }
  
  .audio-container .buttons .mute-btn .fa-volume-mute {
	display: none;
  }
  
  .audio-container .buttons .mute-btn.muted .fa-volume-mute {
	display: inline-block;
  }
  
  .audio-container .buttons .mute-btn.muted .fa-volume-up {
	display: none;
  }






/* 공통 */

::-webkit-scrollbar {
    display: none;
}

.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

.inline-block {
	display: inline-block;
}

.t-40{
	top: 30px;
}

.mx-10 {
	margin-left: 10px;
	margin-right: 10px;
}

.my-0 {
	margin-top: 0px;
	margin-bottom: 0px;
	border: 1px solid #F5F0E8;;
}

.mb-20 {
	margin-bottom: 20px;
}

.pl-20 {
	padding-left: 20px;
}

.bold {
	font-weight: bold;
}

.quill {
	width: 582px;
	height: 400px;
}
 

.header-logo {
	/* width: 10%; */
	height: 30px;
	margin-top: 8px;
	margin-left: 15%;
}

/* .header-logo {
	position: relative;
	height: 30px;
	left: 20%;
	margin-top: 8px;
} */


.text-right {
	text-align: right;
}


#editingroom-container {
	width: 100vw;
	height: 100vh;
}

#editingroom-container .header {
	/* padding: 6px; */
	width: 100%;
}

#editingroom-container .header .header-contents {
	display: inline-block;
	width: 50%;
}

#editingroom-container .contents {
	display: flex;
	height: 77.5%;
	/* background-color: blueviolet; */
	/* padding: 0px 6px; */
	/* width: 100vw; */
}

#editingroom-container .contents-label {
	display: inline-block;
	margin-top: 15px;
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 22px;
}


/* 참여자 위치 */
#editingroom-container .contents-left {
	display: inline-block;
	margin-bottom: 10px;
	position: absolute;
	left: 7.5%;
	width: 20%; 
}

/* 메모장 위치 */
#editingroom-container .contents-middle {
	display: inline-block;
	margin-bottom: 10px;
	position: absolute;
	left: 25%;
	width: 40%;
	/* border-right: 2px solid #000000; */
	/* border-color: #F5F0E8; */
}

#editingroom-container .contents-middle .textarea{
	width: 100%;
}


/* 음성기록박스  */
#editingroom-container .contents-right {
	display: inline-block;
	position: absolute;
	/* background-color: yellowgreen; */
	left: 70%;
	height: 77.5%;
	/* padding: 6px 75px 6px 70px; */
	width: 20%;
}

#editingroom-container .contents-right .recorditems{
	height: 84.4%;
	/* background-color: #6A573D; */
	overflow:scroll;
}

#editingroom-container .contents-right .recorditems .chattime-buttons {
	color: #6A573D;
} 

.message-time {
	font-size: 14px;
	color: #B5B5B5
}

.exit{
	/* box-shadow:inset 0px 1px 0px 0px #1564ad; */
  /* margin-top: 6px; */
	background-color:#6A573D;
	border-radius:6px;
	border:0px solid #6A573D;
	/* display:inline-block; */
	/* cursor:pointer; */
	color:#ffffff;
	/* font-family:Arial; */
	font-size:14px;
	font-weight:bold;
	padding:6px 24px;
	/* text-decoration:none; */
	/* text-shadow:0px 1px 0px #528ecc; */
	/* margin-right: 20px; */
	position: absolute;
	right: 0.7%;
	top: 1%;
	/* bottom: 10%; */
	/* margin-bottom: 10%; */
}
.exit:hover{
	background-color:#DFB48E;
	color: black;
}


.antsound {
	background-color:#6A573D;
	color: white;
	border:0px;
	border-radius:6px;
	font-weight: bold;
	/* float: center; */
	/* top: 1%; */
	position: relative;
	bottom: 2.1px;
	padding: 5px 14px;
	/* background-color: #1e072f; */
}

.ant1 {
	padding: 5px 10px 5px 10px;
	background-color:#6A573D;
	border-radius:6px;
	border:0px;
	color: white;
	position: relative;
	top: -0.4%;
		font-weight: bold;
	padding: 5px 14px;
}

.antsound:hover{
	background-color:#DFB48E;
	color: black;
}

.ant1:hover{
	background-color:#DFB48E;
	color: black;
}

.chattime-buttons{
	/* padding-bottom: 10px; */
	/* border-radius:4px; */
	border:1px solid whitesmoke;
	font-weight:bold;
	/* background-color:#F7F2EC; */
	/* margin-left: 2px; */
	/* color: #337bc4; */
}

.chattime-buttons:hover{
	background-color:blanchedalmond;
}



.textedit{
	background-color: #E3DDD5;
	width: 640px;
	height: 471px;
}
