.wave-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* height: 70px; */
    height: 30%;
    width: 100%;
    background: transparent;
    gap : 2rem
}

.wave {
    position: absolute;
    width: 100%;
    bottom: 20%;
    margin-top: 10px;
    /* padding-top: 20px; */
    /* height: fit-content; */
}

/* button {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 60px;
    height: 60px;
    background: #efefef;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    padding-bottom: 3px;
} */