.wave-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    background: transparent;
    gap : 2rem
}

.wave {
     width: 100%;
     height: 90px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 60px;
    height: 60px;
    background: #efefef;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    padding-bottom: 3px;
}